
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 120px;
}
.logo {
    width: 139px;
    height: 60px;
}
 .menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    
}
.btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
}
.banner{
    text-align: center;
    position: relative;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    
}
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.banner-container{
    padding:154px ;
    height: 380px;
     position: relative;
    z-index: 2;
}
.pera{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    border: none;
    border-radius: 30px;
    background-color:white;
    width: 229px;
    
    padding: 8px 12px;
    text-align: center;
    margin: 0 auto;
}
.head1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
}
.head2{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #30B868;
    display: block;
}
.pera2{
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.btn2{
   padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.card-container{
    margin-top: 50px;
}
.card-title {
    text-align: center;
}
.card-title h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.card-title p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom:40px ;
}
.card-box{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1340px;
}
.card{
    width: 322px;
    height: 300px;
    text-align: center;
    box-shadow: 0 6px 50px 0 #00000010;
    border-radius: 5px;
    padding: 69px 24px;
}
.card img{
    border: 1px solid #f95555;
    border-radius: 50%;
    background-color: #f95555;
    width: 27px;
    height: 29px;
    padding: 10px;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    
}
.card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;

}
.second-brain{
    
    margin: 0 auto;
    max-width: 1360px;
}
.brain-container{
    margin-top: 120px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.brain-info{
    width: 700px;
}
.pera3{
    font-size: 16px;
    color: #30B868;
    text-align: left;
    line-height: 20px;
}
.brain-info h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.pera4{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: left;
    width: 600px;
}
.brain-info ul{
    text-align: left;
}

.pera5 p {
    display: flex;
    align-items: center; 
    gap: 10px;            
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.think-more{
    text-align: center;
    margin: 0 auto;
    max-width: 1360px;
    background-color: rgb(240, 230, 230);
    padding: 80px;
    border-radius: 5px;
}
.think-more h1{
    color: #001931;
    font-size: 40;
    font-weight: bold;
}
.think-more p{
    font-size: 16px;
    line-height: 24px;
    color: #acb1b4;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding-bottom: 30px;
}
.bot{
    margin-bottom: 20px;
}
footer{
    background-color: #023146;
    margin-top: 100px ;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 120px;
}
.footer-container img{
    height: 60px;
}
.social{
    text-align: center;
    color: white;
}
.social h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.pera6{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-bottom: 20px;
}
hr{
    width: 80%;
    border: none;
      border-top: .5px solid #E5E7EB;
}
.btn:hover{
 font-size: 16px;
    font-weight: 600;
    background-color: #250c7c;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}
.btn2:hover{
    font-size: 16px;
    font-weight: 600;
    background-color: #250c7c;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}